.center{
    text-align: center;
}
.blue{
    color:#0691d7;
}
.yellow{
    color: #ffa400;
}
.font-36px{
    font-size: 36px;
}
body{
    font-family: "Roboto Condensed", sans-serif;
}
.background-h1{
    height: 300px;
    background-color: aqua;
    background-image: url(./assets/image/60423972b0a20.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
    font-size: 48px;
    background-position: center;
}
.left{
    text-align: left;
}
.article{
    width: 65%;
    margin: auto;
}